.git
.gitignore
README.md
node_modules/
vendor/
storage/*.key
.env
.dockerignore
docker-compose.override.yml
Dockerfile
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
.sass-cache/
/public/hot
/public/storage
/storage/*/cache/*
/storage/framework/views/*
/tests/Console/Commands/stubs/
.phpunit.result.cache