version: '3.8'

services:
  # Servidor Web (Nginx)
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - .:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php
      - mysql
    networks:
      - laravel-network

  # PHP-FPM (Laravel)
  php:
    build:
      context: .
      dockerfile: dockerfile.dockerfile
    volumes:
      - .:/var/www
    depends_on:
      - mysql
    networks:
      - laravel-network

  # Base de datos MySQL
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel-network

  # Node.js para frontend (Vite)
  node:
    image: node:20-alpine
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "5174:5173"
    command: ["sh", "-c", "npm install && npm run dev"]
    networks:
      - laravel-network

volumes:
  mysql_data:

networks:
  laravel-network:
    driver: bridge
