@import './paginas/style-citas.css';
@import './paginas/style-enfermera.css';
@import './paginas/style-medicamentos.css';
@import './paginas/style-pacientes.css';
@import './paginas/style-reportes.css';
@import './paginas/style-signos.css';
@import './paginas/style-tratamientos.css';