    @import './paginas/style-alergias.css';
    @import './paginas/style-citas.css';
    @import './paginas/style-documentos.css';
    @import './paginas/style-historial.css';
    @import './paginas/style-perfil.css';
    @import './paginas/styles-paciente.css';
    @import './paginas/temporal.css';
    @import './paginas/paginador.css';
