@import './paginas/modulo_plantilla.css';

@import './paginas/consulta_historial_medico.css';
@import './paginas/filtrar_exp_medico.css';
@import './paginas/registro_alergias_medico.css';
@import './paginas/subir_doc_medico.css';

