@import './paginas/style-agenda.css';
@import './paginas/style-gestion-citas.css';
@import './paginas/style-pacientes.css';
@import './paginas/style-recepcionista.css';
@import './paginas/style-recordatorios.css';
@import './paginas/style-registro-paciente.css';