@import './paginas/auditoria.css';
@import './paginas/configuracion.css';
@import './paginas/control-accesos.css';
@import './paginas/gestion-roles.css';
@import './paginas/respaldo-datos.css';
@import './paginas/style-admin.css';